tbody tr td {
  border: 1px solid #303030;
  min-height: 150px;
  vertical-align: top;
  padding: 5px 5px 10px 5px;
}
thead tr td {
  padding: 5px 5px 10px 5px;
}

tbody tr td span.right {
  text-align: right;
  display: block;
  font-weight: bold;
  width: 100%;
}

.noColor {
  background: none;
}

.buttons button {
  margin-right: 5px;
}

.buttons {
  margin-bottom: 25px;
  position: relative;
}

.buttons span {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.buttons button.today {
  padding-left: 25px;
  padding-right: 25px;
}

.totalBox span {
  float: right;
}

.buttons a {
  margin-right: 5px;
}

.event {
  display: block;
  width: 100%;
  margin-top: 5px;
  text-align: left;
  padding: 10px;
  font-size: 85%;
  font-weight: normal;
}

.event:hover {
  text-decoration: none;
}

.event-icon {
  margin-right: 5px;
}

.event-sync {
  background: #464646;
  color: white;
}

.totalBox {
  padding-left: 15px;
  padding-right: 15px;
  color: gray;
}