<div class="buttons">
  <a class="btn btn-secondary" [routerLink]="['/calendar', prevYear, prevMonth]"><</a>
  <a class="btn btn-primary today" routerLink="/calendar">Today</a>
  <a class="btn btn-secondary" [routerLink]="['/calendar', nextYear, nextMonth]">></a>

  <span>{{ month }}</span>
</div>

<div *ngIf="loading">
    <div class="alert alert-info">
      Loading...
    </div>
</div>

<table width="100%" *ngIf="!loading">
  <thead>
    <tr>
      <td width="12.5%" style="text-align: center; font-weight: bold;">Ma</td>
      <td width="12.5%" style="text-align: center; font-weight: bold;">Di</td>
      <td width="12.5%" style="text-align: center; font-weight: bold;">Wo</td>
      <td width="12.5%" style="text-align: center; font-weight: bold;">Do</td>
      <td width="12.5%" style="text-align: center; font-weight: bold;">Vr</td>
      <td width="12.5%" style="text-align: center; font-weight: bold;">Za</td>
      <td width="12.5%" style="text-align: center; font-weight: bold;">Zo</td>
      <td width="12.5%" style="text-align: center; font-weight: bold;">&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let calendarItem of calendarList">

      <td *ngFor="let entry of calendarItem.dates | keys">
        <span class="right badge badge-dark" *ngIf="!entry.value.today">{{ entry.key | date :  "dd" }}</span>
        <span class="right badge badge-primary" *ngIf="entry.value.today">{{ entry.key | date :  "dd" }}</span>
        <a class="event badge event-sync" *ngFor="let event of entry.value.events" [routerLink]="['/activity', event.id]"><span class="oi oi-loop-circular event-icon"></span> {{ event.duration_moved }} - {{ event.distance | number:'1.2-2' }} km</a>
      </td>

      <td>
        <div class="totalBox">
          <span class="right badge noColor" >&nbsp;</span>
          <label>Stress: </label> <span>{{ calendarItem.total_tss }}</span><br>
          <label>Afstand: </label> <span>{{ calendarItem.total_distance }}</span><br>
          <label>Tijd: </label> <span>{{ calendarItem.total_duration }}</span>
        </div>
      </td>
    </tr>
  </tbody>
</table>