<h1>Account settings</h1><br>

<div class="row">
  <div class="col-8">

        <form [formGroup]="settingsForm">
          <fieldset>

            <div *ngIf="errors">
              <div class="alert alert-danger">
                {{ errors }}
              </div>
            </div>

            <div *ngIf="success">
              <div class="alert alert-success">
                {{ success }}
              </div>
            </div>

            <div *ngIf="loading">
              <div class="alert alert-info">
                Loading...
              </div>
            </div>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="name" class="form-control" id="name" name="name" formControlName="name">
            </div>

            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" name="email" formControlName="email">

              <div *ngIf="email.touched && email.errors" class="errorBox">
                <div class="alert alert-danger" *ngIf="email.errors.required">
                  Your email is required
                </div>
              </div>
              <div *ngIf="email.errors" class="errorBox">
                <div class="alert alert-danger" *ngIf="email.errors.email">
                  The provided email is not valid
                </div>
              </div>

            </div>



            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="ftp">FTP</label>
                  <input type="ftp" class="form-control" id="ftp" name="ftp" formControlName="ftp" (keyup)="!ftp.errors && calculateFtpZones()">
                </div>

                <div *ngIf="ftp.errors" class="errorBox">
                  <div class="alert alert-danger" *ngIf="ftp.errors.pattern">
                    The provided FTP value needs to be a number
                  </div>
                </div>

                <div class="card border-light" *ngIf="ftp_zones">
                  <div class="card-header">FTP zones ({{ ftp.value }} watt)</div>
                  <div class="card-body">
                    <div class="row" *ngFor="let ftp_object of ftp_zones">
                      <div class="col-5">{{ ftp_object.name }} ({{ftp_object.percentage }})</div>
                      <div class="col-3 no-pad">{{ ftp_object.low }} watt</div>
                      <div class="col-1 no-pad"> - </div>
                      <div class="col-3 no-pad">{{ ftp_object.high }} watt</div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="heartrate">Max heartrate</label>
                  <input type="heartrate" class="form-control" id="heartrate" name="heartrate" formControlName="heartrate" (keyup)="!heartrate.errors && calculateHeartrateZones()">
                </div>

                <div *ngIf="heartrate.errors" class="errorBox">
                  <div class="alert alert-danger" *ngIf="heartrate.errors.pattern">
                    The provided max heartrate needs to be a number
                  </div>
                </div>

                <div class="card border-light" *ngIf="hrt_zones">
                  <div class="card-header">Heartrate zones ({{heartrate.value }} bpm)</div>
                  <div class="card-body">
                    <div class="row" *ngFor="let hrt_object of hrt_zones">
                      <div class="col-5">{{ hrt_object.name }} ({{hrt_object.percentage }} %)</div>
                      <div class="col-3 no-pad">{{ hrt_object.low }} bpm</div>
                      <div class="col-1 no-pad"> - </div>
                      <div class="col-3 no-pad">{{ hrt_object.high }} bpm</div>
                    </div>
                    <div class="row"><div class="col-12">&nbsp;</div></div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12">&nbsp;</div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!settingsForm.valid" (click)="updateUser()">Update profile</button>

          </fieldset>
        </form>

  </div>
  <div class="col-4">

      <div class="card border-light dropbox-top">
        <div class="card-header">Dropbox</div>
        <div class="card-body">
          <p class="card-text">You can connect to dropbox account using the following button.</p>
          <p class="card-text">
            <button class="btn btn-success" *ngIf="!dropbox_connected && !loading" (click)="connectDropbox()">Connect</button>
            <button class="btn btn-danger" *ngIf="dropbox_connected && !loading" (click)="disconnectDropbox()">Disconnect</button>
          </p>
        </div>
      </div>
  </div>
</div>
