<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">

    <a href="../" class="navbar-brand"><img class="nav-logo" src="/assets/images/trainher_white.svg"/></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul *ngIf="isLoggedIn" class="nav navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="calendar">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Workouts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Logs</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="download">Account <span
                        class="caret"></span></a>
                <div class="dropdown-menu dropdown-last" aria-labelledby="download">
                    <a class="dropdown-item" routerLink="settings">Settings</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="" (click)="logout()">Log out</a>
                </div>
            </li>
        </ul>

        <ul *ngIf="!isLoggedIn" class="nav navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="register">Register</a>
            </li>

        </ul>

    </div>
</div>