<h1>Login</h1>

<form [formGroup]="loginForm">

  <div *ngIf="loginFailed" class="errorBox">
    <div class="alert alert-danger">
      Login failed, please check your credentials!
    </div>
  </div>

  <div *ngIf="errors" class="errorBox">
    <div class="alert alert-danger">
      {{ errors }}
    </div>
  </div>

  <div *ngIf="success" class="errorBox">
    <div class="alert alert-success">
      {{ success }}
    </div>
  </div>

  <fieldset>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email address" name="email" formControlName="email">

      <div *ngIf="email.touched && email.errors" class="errorBox">
        <div class="alert alert-danger" *ngIf="email.errors.required">
          Your email is required
        </div>
      </div>
      <div *ngIf="email.errors" class="errorBox">
        <div class="alert alert-danger" *ngIf="email.errors.email">
          The provided email is not valid
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" name="password" formControlName="password">

      <div *ngIf="password.touched && password.errors" class="errorBox">
        <div class="alert alert-danger" *ngIf="password.errors.required">
          Your password is required
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" (click)="doLogin()">Login</button>


  </fieldset>
</form>