<h1>Register</h1>

<form [formGroup]="registerForm">

  <div *ngIf="errors" class="errorBox">
    <div class="alert alert-danger">
      {{ errors }}
    </div>
  </div>

  <div *ngIf="success" class="errorBox">
    <div class="alert alert-success">
      {{ success }}
    </div>
  </div>

  <fieldset>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" name="name" formControlName="name">

      <div *ngIf="name.touched && name.errors" class="errorBox">
        <div class="alert alert-danger" *ngIf="name.errors.required">
          Your name is required
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Email address" name="email" formControlName="email">

      <div *ngIf="email.touched && email.errors" class="errorBox">
        <div class="alert alert-danger" *ngIf="email.errors.required">
          Your email is required
        </div>
      </div>
      <div *ngIf="email.errors" class="errorBox">
        <div class="alert alert-danger" *ngIf="email.errors.email">
          The provided email is not valid
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input type="password" class="form-control" id="password1" placeholder="Password" name="password1" formControlName="password1">

      <div *ngIf="password1.touched && password1.errors" class="errorBox">
        <div class="alert alert-danger" *ngIf="password1.errors.required">
          Your password is required
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="password2">Repeat password</label>
      <input type="password" class="form-control" id="password2" placeholder="Repeat password" name="password2" formControlName="password2">

      <div *ngIf="password2.touched && password2.errors" class="errorBox">
        <div class="alert alert-danger" *ngIf="password2.errors.required">
          Please repeat your password
        </div>
      </div>



    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid" (click)="doRegister()">Register</button>


  </fieldset>
</form>