<div class="row">
  <div class="col-12">
    <button class="btn btn-primary" (click)="goBack()"><span class="oi oi-chevron-left"></span> Go back</button><br><br>
  </div>
</div>

<div *ngIf="loading">
  <div class="alert alert-info">
    Loading...
  </div>
</div>

<div *ngIf="data">

  <h1>Activity - {{ data.date | date :  "dd-MM-yyyy HH:mm:ss" }}</h1><br>

    <div class="row">
        <div class="col-6">
          <div class="card border-light">
              <div class="card-header">Ride data</div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-5">Distance</div>
                    <div class="col-7">{{ data.distance }} km</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Duration (moved)</div>
                    <div class="col-7">{{ data.duration_moved }}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Duration (elapsed)</div>
                    <div class="col-7">{{ data.duration }}</div>
                  </div>
                  <div class="row">
                    <div class="col-5">Elevation</div>
                    <div class="col-7">{{ data.elevation }} m</div>
                  </div>                
                  <div class="row">
                      <div class="col-5">IF</div>
                      <div class="col-7">{{ data.if }}</div>
                  </div>
                  <div class="row">
                      <div class="col-5">TSS</div>
                      <div class="col-7">{{ data.tss }} tss</div>
                  </div>
                  <div class="row">
                      <div class="col-5">NP</div>
                      <div class="col-7">{{ data.pwr_np }} watt</div>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-light">
                <div class="card-header">Ride numbers</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-5">&nbsp;</div>
                      <div class="col-3"><strong>Avg.</strong></div>
                      <div class="col-1">&nbsp;</div>
                      <div class="col-3"><strong>Max.</strong></div>
                    </div>
                    <div class="row">
                      <div class="col-5">Speed</div>
                      <div class="col-3">{{ data.spd_avg }} km/h</div>
                      <div class="col-1">&nbsp;</div>
                      <div class="col-3">{{ data.spd_max }} km/h</div>
                    </div>
                    <div class="row">
                      <div class="col-5">Heartrate</div>
                      <div class="col-3">{{ data.hrt_avg }} bpm</div>
                      <div class="col-1">&nbsp;</div>
                      <div class="col-3">{{ data.hrt_max }} bpm</div>
                    </div>
                    <div class="row">
                      <div class="col-5">Cadence</div>
                      <div class="col-3">{{ data.cad_avg }} rpm</div>
                      <div class="col-1">&nbsp;</div>
                      <div class="col-3">{{ data.cad_max }} rpm</div>
                    </div>
                    <div class="row" *ngIf="data.pwr_avg">
                      <div class="col-5">Power</div>
                      <div class="col-3">{{ data.pwr_avg }} watt</div>
                      <div class="col-1">&nbsp;</div>
                      <div class="col-3">{{ data.pwr_max }} watt</div>
                    </div>
                    <div class="row">
                      <div class="col-5">Calories</div>
                      <div class="col-3">{{ data.calories }}</div>
                      <div class="col-1">&nbsp;</div>
                      <div class="col-3">&nbsp;</div>
                    </div>
                    <div class="row">
                      <div class="col-12">&nbsp;</div>
                    </div>
                </div>
              </div>
        </div>
    </div>

    <div class="row"><div class="col-12">&nbsp;</div></div>

    <div class="row">
      <div class="col-12">

          <highcharts-chart 
          [Highcharts]="Highcharts"
         
          [options]="chartOptions"

          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>

      </div>
    </div>

    <div class="row"><div class="col-12"><br><h2>Power data</h2></div></div>

    <div class="row">
      <div class="col-6">

          <highcharts-chart 
          [Highcharts]="HighchartsCritPwr"
         
          [options]="chartOptionsCritPwr"

          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>

      </div>
      <div class="col-6">

          <highcharts-chart 
          [Highcharts]="HighchartsHistPwr"
         
          [options]="chartOptionsHistPwr"

          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>

      </div>
    </div>


    <div class="row" *ngIf="this.data.pwr_part"><div class="col-12">&nbsp;</div></div>

    <div class="row" *ngIf="this.data.pwr_part">
      <div class="col-6">

          <highcharts-chart 
          [Highcharts]="HighchartsPiePwr"
         
          [options]="chartOptionsPiePwr"

          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>

      </div>
      <div class="col-6">
          <div class="card border-light" style="min-height: 400px">
              <div class="card-header">Power in zones</div>
                <div class="card-body">
                    <div class="row">
                      <div class="col-12">Based on FTP of:&nbsp;&nbsp;&nbsp; {{ data.pwr_ftp }} watt</div><br><br>
                    </div>

                    <div class="row" *ngFor="let pwr of pwrPieData | keys">
                        <div class="col-5">{{ pwr.value.name }}</div>
                        <div class="col-3">{{ pwr.value.description }}</div>
                        <div class="col-1">&nbsp;</div>
                        <div class="col-3">{{ pwr.value.y | number:'1.1-1' }} %</div>
                      </div>
                </div>
              </div>

      </div>
    </div>

    <div class="row" *ngIf="this.data.hrt_part"><div class="col-12"><br><h2>Heartrate data</h2></div></div>

    <div class="row" *ngIf="this.data.hrt_part">
      <div class="col-6">

          <highcharts-chart 
          [Highcharts]="HighchartsPieHrt"
         
          [options]="chartOptionsPieHrt"

          style="width: 100%; height: 400px; display: block;"
        ></highcharts-chart>

      </div>
      <div class="col-6">
          <div class="card border-light" style="min-height: 400px">
              <div class="card-header">Heartrate in zones</div>
                <div class="card-body" *ngIf="userHeartrate">
                    <div class="row">
                      <div class="col-12">Based on max heartrate of:&nbsp;&nbsp;&nbsp; {{ userHeartrate }} bpm</div><br><br>
                    </div>

                    <div class="row" *ngFor="let hrt of hrtPieData | keys">
                        <div class="col-5">{{ hrt.value.name }}</div>
                        <div class="col-3">{{ hrt.value.description }}</div>
                        <div class="col-1">&nbsp;</div>
                        <div class="col-3">{{ hrt.value.y | number:'1.1-1' }} %</div>
                      </div>
                </div>
              </div>

      </div>
    </div>

    <div class="row"><div class="col-12">&nbsp;</div></div>
    
  <!-- {{ data | json }} -->
</div>
