/* You can add global styles to this file, and also import other style files */

body {
  padding-top: 120px;
}

.nav-logo {
  height: 24px;
}

@media (min-width: 992px) {
  .dropdown-last {
    transform: translateX(-50%);
  }
}


.errorBox {
  margin-top: 10px;
}